.modal 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-main 
{
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.sidebar 
{
    width: 242.33px;
    height: auto;
    background-color: #1f2e41;
    color: #fff;
    padding: 10px 10px 10px 10px;
    position: absolute;
    top: 0px; 
    left: 0;
    bottom: 0;
    z-index: 1;
}
.header 
{
    height: 60px;
    background-color: #f0f0f0;
}
.main 
{
    flex: 1;
}
.footer 
{
    width: 100vw;
    height: auto;
    background-color: #1f2e41;
    color: #fff;
    text-align: center;
    align-items: center;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.layout 
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}        
/* From Time CSS */
.time-slots {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 4px;
    max-height: 160px;
    overflow-y: auto;
    z-index: 100;
    top: 12%;
    right: 6%;
    width: 140px;
    border-radius: 8px;
  }
  /* Style for each individual time slot */
  .time-slot {
    cursor: pointer;
    padding: 8px;
    margin: 2px 0;
    border-radius: 4px;
  }
  /* Style for the selected time slot */
  .time-slot:hover {
    background-color: #f0f0f0;
  }